:root {
  --primary: #2fd3b2;
  --dark-primary: #023c40;
  --primary-text: #4b6664;
  --background: #b8e2e5;
  --secondary: #f6fbfd;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5vh;
}

h1 {
  color: var(--primary-text);
}

.input-bill {
  padding: 0 20px;
}

h2 {
  color: var(--primary-text);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 12px;
}

li {
  width: 47%;
}

input {
  box-sizing: border-box;
  font-size: 2.4rem;
  text-align: right;
  color: var(--dark-primary);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  background-color: var(--secondary);
  border-radius: 5px;
  width: 100%;
  padding-right: 20px;
  border: 2px solid transparent;
}

@supports (-webkit-appearance: none) {
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button {
  background-color: var(--dark-primary);
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  font-size: 2rem;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--primary);
  color: var(--dark-primary);
}

.active {
  background-color: var(--primary);
  color: #00474b;
}

.percentage-button {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.general-wrapper {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
}


.result-wrapper {
  background-color: var(--dark-primary);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 350px;
  padding: 30px;
  box-sizing: border-box;
  row-gap: 20px;
  justify-content: space-between;
}

.result-txt>* {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}

.result-wrapper h2 {
  color: white;
  margin: 0;
}

.result-wrapper h3 {
  color: var(--primary);
  font-size: 3rem;
  margin: 0;
}

.result-wrapper p {
  color: var(--primary-text);
  font-weight: bold;
  margin: 0;
}

.result-wrapper button {
  background-color: var(--primary);
  color: var(--dark-primary);
  text-align: center;
  padding: 10px;
  font-size: 1.8rem;
  transition: 0.2s ease;
}

.result-wrapper button:hover {
  background-color: #3be0bd;
}

input:focus {
  border: 2px solid var(--primary);
  outline: none;
  color: var(--dark-primary);
}

.btn-active {
  background-color: var(--primary);
  color: var(--dark-primary);
}

.input-invalid,
.input-invalid:focus {
  border: 2px solid orangered;
}